{% extends 'base.html.twig' %}

{% set title = 'BetRocket | Mot de passe oublié' %}

{% block body %}

  <div class="jumbotron jumbotron-bg">
    <h1 class="display-4">Mot de passe oublié</h1>
    <hr class="my-4">

    {% if alert is defined %}

      <div class="alert alert-dismissible alert-{{ alerttype }}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading {{ alerttype }}">{{ alerttitle }}</h4>
        <p class="mb-0 {{ alerttype }}">{{ alertmsg }}</p>
      </div>

    {% endif %}

    <form data-bitwarden-watching="1" method="post">

      <div class="form-group">
        <label for="inputEmail">Adresse mail</label>
        <input type="email" class="form-control" id="inputEmail" name="email" aria-describedby="emailHelp"
               placeholder="Adresse mail">
        <small id="emailHelp" class="form-text text-muted">
          Nous vous enverrons un mail pour réinitialiser votre mot de passe
        </small>
      </div>

      <a href="{{ url('login') }}" class="blue-link">> Me connecter</a><br/><br/>

      <button type="submit" class="btn btn-primary">Envoyer l'e-mail de confirmation</button>

    </form>

  </div>

{% endblock %}