{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

  <div class="jumbotron">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <a href="">
              <img src="http://img.over-blog-kiwi.com/1/10/82/36/20190102/ob_216360_la-beaute-est-partout-dans-la-nature.jpg" alt="img" style="max-width: 505px; height: auto">
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <a href="">
              <span style="font-size: 30px;">Un titre trop bien</span>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p style="color: #333333;">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cum delectus excepturi exercitationem harum illo,
              llum itaque omnis pariatur provident quisquam recusandae
              m sapiente sint, sunt tempora tenetur ut, vel!
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Rang</th>
            <th scope="col">Pseudo</th>
            <th scope="col">Montant gagné</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Lord'</td>
            <td>240558€</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="jumbotron">

  {% for article in articles %}

    <div class="row">
      <div class="col-md-3">
        <a href="">
          <img src="http://img.over-blog-kiwi.com/1/10/82/36/20190102/ob_216360_la-beaute-est-partout-dans-la-nature.jpg" alt="img" style="max-width: 240px; height: auto">
        </a>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-12">
            <a href="{{ url('article',{'id':article.id}) }}">
              <span style="font-size: 30px;">{{ article.title }}</span>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <span>Le {{ article.created|date('d/m/Y') }} par <a href="#">{{ article.author.nickname }}</a></span>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <p>{{ article.content|slice(0, 200) }}</p>
          </div>
        </div>
      </div>
    </div>
    <hr>

  {% endfor %}

  </div>

{% endblock body %}

